@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
.logo{
    width: 120px;
}
.search{
    width: 1000px;
   margin-right: 10%;
}
.dt{
    font-family: "PT Sans", sans-serif;
}
.text{
    font-family: 'Kanit', sans-serif;
}
